graft docs
graft tests

include aabbtree.py

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include LICENSE.rst
include README.rst

include tox.ini

prune docs/source/_static
prune docs/build

exclude CONTRIBUTING.rst
exclude plot_incremental.py

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.log Icon*
